<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jualn.miniapp.module.media.mapper.MediaAttachmentMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO media_attachment (target_type, target_id, type, object_key, url, original_name, sort_order)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.targetType}, #{item.targetId}, #{item.type}, #{item.objectKey}, #{item.url}, #{item.originalName}, #{item.sortOrder})
        </foreach>
    </insert>

    <select id="selectSimpleBatchByTargetIds" resultType="cn.jualn.miniapp.module.media.bo.MediaAttachmentSimpleBO">
        SELECT id, url,target_id ,sort_order
        FROM media_attachment
        WHERE target_type = #{targetType} AND target_id IN
        <foreach collection="targetIds" item="targetId" open="(" separator="," close=")">
            #{targetId}
        </foreach>
        ORDER BY sort_order, id
    </select>

</mapper>
