<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jualn.miniapp.module.post.mapper.PostMapper">
    <select id="selectPostListBatchByIds" resultType="Post">
        SELECT id, title, content, like_count, comment_count, view_count, published_at
        FROM post
        WHERE status = 2 AND audit_status = 1 AND deleted_at IS NULL AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY id, published_at DESC
    </select>
</mapper>